<!DOCTYPE html>
<html>

<head>

<title>Student Management System</title>

<link rel="stylesheet" href="/styles.css">

</head>

<body>

<div class="container">

<h1>Student Management System</h1>

<a href="/students/new" class="btn btn-new">New Student</a>

<br><br>

<% students.forEach(student => { %>

<div class="card">

<h2><%= student.name %></h2>

<p>Roll: <%= student.roll %></p>

<hr>

<a href="/students/<%= student._id %>/edit" class="btn btn-edit">Edit</a>

<form action="/students/<%= student._id %>?_method=DELETE" method="POST" style="display:inline;">

<button class="btn btn-delete">Delete</button>

</form>

</div>

<% }) %>

</div>

</body>

</html>